/* line 1, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/items.scss */
.item-image {
  width: 200px;
  height: 200px;
  box-shadow: 2px 2px 2px 2px #888888;
}

/* line 7, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/items.scss */
.card {
  margin-left: 10px;
}

/* line 11, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/items.scss */
.group-item-image {
  height: 300px;
  width: 375px;
  margin-left: 7vw;
}

/* line 17, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/items.scss */
.itemInfo {
  margin-left: 100px !important;
}

/* line 21, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/items.scss */
.hidden {
  display: none;
}

/* line 25, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/items.scss */
#newItemForm {
  width: 50vw !important;
  margin: 0 auto !important;
  border-radius: 10px;
}

/* line 31, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/items.scss */
#newItemForm-1 {
  width: 50vw !important;
  height: 30vw !important;
  margin: 0 auto !important;
  border-radius: 10px;
}

/* line 38, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/items.scss */
#title {
  font-size: 30px;
}

/* line 42, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/items.scss */
#Rshadow {
  margin: 20 auto !important;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 3px solid darkgrey;
  box-shadow: 0 0 1em grey;
}

/* line 50, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/items.scss */
#relItems {
  margin-left: 135px;
}
/* line 1, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/offers.scss */
#box1 {
  background-color: #a0a0a0;
  height: 200px;
}

/* line 5, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/offers.scss */
#box2 {
  background-color: #777777;
  height: 200px;
}

/* line 9, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/offers.scss */
#box3 {
  background-color: #5f5f5f;
  height: 200px;
}

/* line 13, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/offers.scss */
#box4 {
  background-color: #484848;
  height: 200px;
}

/* line 18, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/offers.scss */
.step {
  margin-top: 50px;
}

/* line 22, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/offers.scss */
.picContainer {
  position: relative;
  width: 200px;
}

/* line 27, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/offers.scss */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* line 33, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/offers.scss */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(70, 122, 183, 0.6);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

/* line 45, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/offers.scss */
.picContainer:hover .overlay {
  width: 100%;
}

/* line 49, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/offers.scss */
.text {
  white-space: nowrap;
  font-size: 20px;
  color: white !important;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* line 5, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
legend {
  font-family: 'Open Sans Condensed', sans-serif !important;
}

/* line 9, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
html, body {
  margin: 0;
  min-height: 100% !important;
}

/* line 14, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
a, h2, h3, p {
  font-family: 'Quicksand', sans-serif;
}

/* line 18, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
#home {
  margin-bottom: 20px;
}

/* line 22, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
footer {
  margin-top: 150px;
}

/* line 26, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
#upperFooter {
  background-color: #e6e6e6;
  height: 30px;
}

/* line 31, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
.accept-btn {
  margin-left: 220px;
  background-color: green;
  border-radius: 10px;
}

/* line 37, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
.decline-btn {
  margin-right: 200px;
  background-color: red;
  border-radius: 10px;
}

/* line 43, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
#lowerFooter {
  background-color: #1b2126;
  height: 80px;
  color: #6c7980;
}

/* line 49, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
#lowerFooter a {
  color: #5d5b5b;
}

/* line 53, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
#learnBtnPosition {
  margin-left: 2.3vw;
  margin-top: 30px;
}

/* line 58, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
.myAlert {
  padding: 15px;
  margin-top: 19px;
  border: 1px solid transparent;
  border-radius: 3px;
}

/* line 65, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
h1 {
  font-size: 3.5em !important;
  font-family: 'Quicksand', sans-serif !important;
}

/* line 70, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
#how-it-works {
  height: 30vw !important;
  width: 50vw !important;
  margin-left: 10vw !important;
  border-radius: 10px;
  padding-top: 75px;
}

/* line 78, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
.contacts-images {
  width: 8vw;
  height: 8vw;
}

/* line 83, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
#ContactUsContainer {
  margin-top: 10vw;
}

/* line 87, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
img {
  height: 275px;
}

/* line 91, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/pages.scss */
.well {
  background-color: #e6e6e6 !important;
}
/* line 1, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/sessions.scss */
#signInForm {
  height: 30vw !important;
  width: 50vw !important;
  margin: 0 auto !important;
  border-radius: 10px;
}

/* line 8, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/sessions.scss */
.btn-primary {
  margin-top: 20px;
}
/* line 2, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/users.scss */
#profileBanner {
  height: 300px;
  margin-top: -29px;
}

/* line 7, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/users.scss */
h2, h3, p, a {
  font-family: 'Open Sans Condensed', sans-serif !important;
}

/* line 11, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/users.scss */
h4 {
  font-family: 'Quicksand', sans-serif !important;
}

/* line 16, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/users.scss */
#favContainer {
  margin-top: 70px;
}

/* line 20, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/users.scss */
#profilePic {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: auto;
  width: auto;
  max-width: 260px;
  max-height: 260px;
  margin-top: 75px;
  border: 3px solid black;
  -webkit-box-shadow: 1px 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px 1px #fff;
}

/* line 35, /Users/owner/wdi/TradeUp_1/app/assets/stylesheets/users.scss */
#newUserForm {
  height: 30vw !important;
  width: 50vw !important;
  margin: 0 auto !important;
  border-radius: 10px;
}
/*









 */


a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

html, body {
  margin: 0;
  min-height: 100% !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#greyMid {
  background-color: #eae6e6;
}

#home {
  background-color: white;
  background: url('http://i.imgur.com/f9AF4Nd.png') no-repeat;
  background-size: 100%;
  background-position: center;
  height: 500px;
}
 #mainNav {
   background-color: #6c7980;
   height: 90px;
   position: relative;
 }

.blue {
  background-color: #6196c2;
  margin-left: .5vw;
}
 #lowerNav {
   background-color: #2996cc;
   height: 40px;
   position: relative;
   text-align: right;
   margin-top: 2.9vw;
   padding: 8px;
   padding-right: 2vw;
 }

#lowerNav a:hover {
  color: #6c7980;
}

 .tradeBtn {
   float: left;
   margin-left: 6vw;
   font-weight: bold;
 }
 .profileBtn {
   float: left;
   margin-left: 2vw;
 }

 #logo {
   height: 90px;
   position: absolute;
   z-index: 99;
   margin-top: 10px;
   margin-left: 20px;
   -webkit-filter: drop-shadow(3px 3px 3px #222);
   filter: drop-shadow(3px 3px 3px #222);
 }

 .caret {
   color: white;
 }

.smallImage {
  width: 215px;
  padding-bottom: 20px
}

 #mainNav li {
   display: inline;
 }

 .welcome_message {
   text-align: right;
   position: absolute;
   margin-left: 150px;;
 }

.nav_padding_left {
  padding-left: 3vw;
}

.nav_padding_right {
  padding-right: 2.3vw;
  text-align: right;
}

 nav a {
  color: white;
  font-size: 19px;
 }
/* Slider */

.slick-slider
{
  position: relative;

  display: block;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list
{
  background: #fff url(/assets/slick/ajax-loader-e7b44c86b050fca766a96ddac2d0932af0126da6f2305280342d909168dcce6b.gif) center center no-repeat;
}

/* Icons */
@font-face
{
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url(/assets/slick-06d80cf01250132fd1068701108453feee68854b750d22c344ffc0de395e1dcb.eot);
  src: url(/assets/slick-06d80cf01250132fd1068701108453feee68854b750d22c344ffc0de395e1dcb.eot?#iefix) format('embedded-opentype'),
  url(/assets/slick-26726bac4060abb1226e6ceebc1336e84930fe7a7af1b3895a109d067f5b5dcc.woff) format('woff'),
  url(/assets/slick-37bc99cfdbbc046193a26396787374d00e7b10d3a758a36045c07bd8886360d2.ttf) format('truetype'),
  url(/assets/slick-8ca11b5fcbff92ee6378017cf6832dddfa745253202d7c8d01f42d5d17c4cb5c.svg#slick) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
  opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;

  opacity: .75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
  left: -25px;
}
[dir='rtl'] .slick-prev
{
  right: -25px;
  left: auto;
}
.slick-prev:before
{
  content: '←';
}
[dir='rtl'] .slick-prev:before
{
  content: '→';
}

.slick-next
{
  right: -25px;
}
[dir='rtl'] .slick-next
{
  right: auto;
  left: -25px;
}
.slick-next:before
{
  content: '→';
}
[dir='rtl'] .slick-next:before
{
  content: '←';
}

/* Dots */
.slick-slider
{
  margin-bottom: 30px;
}

.slick-dots
{
  position: absolute;
  bottom: -45px;

  display: block;

  width: 100%;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slick-dots li button:before
{
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: .25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
  opacity: .75;
  color: black;
}
