<footer>
<div class="col-xs-12" id="upperFooter">
</div>
<div class="col-xs-12" id="lowerFooter">
  <div class="row">
    <div class="col-xs-6">
      <ul style="margin-top: 18px">
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact-us">Contact</a></li>
      </ul>
    </div>
    <div class="col-xs-6">
      <p class="pull-right" style="margin-left: -4vw">&copy; TradeUP 2017</p>
    </div>
  </div>
</div>
</footer>
