<div class="col-xs-12" id="upperFooter">
</div>
<div class="col-xs-12" id="lowerFooter">
  <div class="row">
    <div class="col-xs-6">
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="/contacts">Contact</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </div>
    <div class="col-xs-6">
      <p class="pull-right">&copy; TradeUP 2017</p>
    </div>
  </div>
</div>
