<div class="col-xs-12 text-center">
  <div class="row">
    <div class="col-md-3 col-xs-6" id="box1">
      <img class="step img-responsive" src="http://i.imgur.com/qYqfJM8.png">
    </div>
    <div class="col-md-3 col-xs-6" id="box2">
      <img class="step img-responsive" src="http://i.imgur.com/Pa9my6G.png">
    </div>
    <div class="col-md-3 col-xs-6" id="box3">
      <img class="step img-responsive" src="http://i.imgur.com/x8yae6W.png">
    </div>
    <div class="col-md-3 col-xs-6" id="box4">
      <img class="step img-responsive" src="http://i.imgur.com/igxraf5.png">
    </div>
  </div>
</div>
