<% if @user.rating %>
  <div class = "col-xs-12" style="margin-top: -150px" align="center">
    <% @stars = (@user.rating / @user.rating_count).floor %>
    <h4>
      <% @stars.times do %>
        <i class="glyphicon glyphicon-star" style="color:#ffec4d"></i>
      <% end %>
    </h4>
  <%else%>
  <div class="col-xs-12" align="center">
    <h4>Rating: No ratings yet</h4>
  <%end%>
</div>


<% if logged_in? && @user.id != current_user.id %>
  <% @check = false %>
  <%if cookies[:rated]%>
    <% @rated = cookies[:rated].split('.')%>
    <% @rated.each do |id|%>
      <%if id == @user.id.to_s%>
        <% @check = true %>
      <%end%>
    <%end%>
  <%end%>
  <%if @check == false%>
    <div class="col-xs-12 text-center">
      <%= form_for @user, :class => 'form-group', :url => "/users/updateRating/"+(@user.id.to_s) do |f| %>
        <%= f.label :rating %>
        <%= f.number_field :rating, :value => 0, :max => 5, :min => 1, :class=>"mx-sm-3" %>
        <%= f.submit "Go", :class => "text-muted btn-primary btn-xs" %>
      <% end %>
      <br>
    </div>
  <%end%>
<%end%>
