<div align="center">
  <h2>Contact Us</h2>
  <br/>
  <p>Phone: (415)999-9999</p>
  <p>Email: <a href="#">info@tradeup.com</a></p>
  <br/>
  <br/>
  <div class="row contacts-images">
    <div class="col-xs-4">
      <a href="#"><img class="img-responsive" src="http://www.universityschool.bham.ac.uk/media/1311/facebook_lb.png" alt="Facebook image"></a>
    </div>
    <div class="col-xs-4">
      <a href="#"><img class="img-responsive" src="http://dash.coolsmartphone.com/wp-content/uploads/2016/12/it1.jpg" alt="Twitter image"></a>
    </div>
    <div class="col-xs-4">
      <a href="#"><img class="img-responsive" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSSIWa7y74A4-2eQiKTY23m8XPMGo7R6jxJmOVh4eUYjSuMqBZJ" alt="LinkedIn image"></a>
    </div>
  </div>
</div>
