<div class="col-xs-12" id="home">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <h1 style="padding-left: 2.3vw; margin-top: 45px">Want to trade your paper clip for a house?</h1>
      <h3 style="padding-left: 2.3vw; margin-top:40px">Our simple and easy to use platform<br>
        lets you trade up from one item to the next.<br>
        The possibilities are endless!</h3>
      <%= link_to 'Learn More', learnmore_path_url, class: 'btn btn-info', id: 'learnBtnPosition' %>
    </div>
    <div class="col-lg-6 col-xs-12">
      <br>
      <img class="img-responsive" style="width:700px; height: 405px;" src="http://www.viralfact.com/wp-content/uploads/2014/07/how-to-trade-a-paperclip-for-a-house-1.png">
    </div>
  </div>
</div>

<%= render 'partials/footer' %>
