<div class="col-xs-12" id="home">
  <br>
  <br>
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <h1 style="padding-left: 2.3vw; margin-top: 45px">taco taco stuff, get stuff.</h1>
      <h3 style="padding-left: 2.3vw; margin-top:40px">Our simple and easy to use platform<br>
        lets you trade up from one item to the next.<br>
        The possibilities are endless!</h3>
      <%= link_to 'Get Started', signup_path, class: 'btn btn-lg btn-primary', id: 'learnBtnPosition' %>
    </div>
    <div class="col-lg-6 col-xs-12">
    </div>
  </div>
</div>

<div class="col-xs-12">
  <div class="container" align="center">
    <div class="row">
      <div class="col-xs-12">
        <h1><img class="text-center" style="height: 120px" src="http://i.imgur.com/P1p0W5e.png"></h1>
        <div class="col-md-6 col-xs-12">
          <iframe type="text/html" width="500" height="325" src="https://www.youtube.com/embed/8s3bdVxuFBs" frameborder="0"></iframe>
        </div>
        <div class="col-md-6 col-xs-12">
          <p class="lead">In 2005, Kyle MacDonald sat at his desk staring at a paperclip when he had an idea: "I wonder if I could trade this on the internet for something cool?" He posted the paperclip on CraigsList and embarked on a journey that took him
            across the country until he had bartered his way into a new home. The journey took over a year and 14 trades, but his story is pretty cool. Check out his TedTalk to hear his story and start your journey today!</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
<hr>

<div class="col-xs-12 text-center">
  <h1 align="center">Getting Started is Easy!</h1>
  <br>
  <%= render 'partials/offerProcess' %>
  <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary", id: "sign_up"%>
  <br>
  <br>
  <br>
</div>

<%= render 'partials/footer' %>
