<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-6">
      <h1>No money? No problem!</h1>
      <h3>Our simple and easy to use platform<br>
        lets you trade up<br>
        from one item to the next.</h3>
      <button class="btn btn-info">Learn More</button>
    </div>
    <div class="col-lg-6">
      <img class="img-responsive" src="http://i.imgur.com/2vSqC6A.jpg">
    </div>
  </div>
</div>


<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-4 text-center">
      <div class="row">
        <div class="col-lg-6">
          hi
        </div>
        <div class="col-lg-6">
          hi
        </div>
      </div>
      <div class="col-lg-12">
        <button class="btn btn-warning">See Featured Experiences</button>
      </div>
    </div>
    <div class="col-lg-4 text-center">
      <div class="row">
        <div class="col-lg-6">
          hi
        </div>
        <div class="col-lg-6">
          hi
        </div>
      </div>
      <div class="col-lg-12">
        <button class="btn btn-warning">See Featured Items</button>
      </div>
    </div>
    <div class="col-lg-4 text-center">
      <div class="row">
        <div class="col-lg-6">
          hi
        </div>
        <div class="col-lg-6">
          hi
        </div>
      </div>
      <div class="col-lg-12">
        <button class="btn btn-warning">See Featured Services</button>
      </div>
    </div>
  </div>
</div>


<%= render 'partials/footer' %>
