<div class="container" align="center">
  <div class="row">
    <div class="col-xs-12">
      <h1 align="center" style="margin-bottom:65px;">The Red Paperclip</h1>
      <div class="col-xs-6">
        <p class="lead">In 2005, Kyle MacDonald sat at his desk staring at red paperclip when he had an idea. "I wonder if I could trade this on the internet for something cool?" He posted the paperclip on CraigsList and embarked on a journey that took him
          across the country until he ultimately had bartered his way into a new home. The journey took over a year and 14 trades, but his story is pretty cool. We wanted to create a space where everyone could have an opportunity to have a similar experience.
          Check out his TedTalk to hear his story and start your journey today!</p>
      </div>
      <div class="col-xs-6">

<iframe type="text/html" width="640" height="390" src="https://www.youtube.com/embed/8s3bdVxuFBs" frameborder="0"></iframe>

      </div>
    </div>
  </div>
</div>
<hr>

<div class="container" align="center">
  <div class="row">
    <div class="col-xs-12">
      <h1 align="center" style="margin-bottom:65px;">Getting Started is Easy!</h1>
      <div class="col-xs-6">
        <ul>
          <li class="lead">1. Create a Profile</li><br>
          <li class="lead">2. Upload an Item</li>
        </ul>
      </div>

      <div class="col-xs-6">
        <ul>
          <li class="lead">3. Search Listed Items</li><br>
          <li class="lead">4. Suggest a Trade!</li>
        </ul>
      </div>
    </div>
    <%= link_to "Sign Up", signup_path, class: "btn btn-primary", id: "sign_up"%>
  </div>
</div>

<%= render 'partials/footer' %>
