<h1 align="center" style="padding-top: 35px">The Red Paperclip</h1>
<div id="how-it-works" class="content-section-a">
  <div class="container">
    <div class="col-md-6 col-md-offset-3"></div>
    <div class="row">
      <div class="col-sm-6 pull-right"  align="center">
        <%= video_tag "tradevideo.mp4", :size => "500x240", :controls => true %>
      </div>

      <div class="col-sm-6">
        <p class="lead">
        In 2005, Kyle MacDonald was sitting at his desk staring at red paperclip when he had an idea: "I wonder if I could trade this on the internet for something cool?"
        He posted the paperclip on CraigsList and embarked on a journey that took him across the country until he ultimately bartered his way into a new home! The
        journey took over a year and 14 trades, but his story is pretty cool. We wanted to create a space where everyone could have an opportunity to have a similar
        experience. Check out his TedTalk to hear his story and start your journey today!
        </p>
      </div>
    </div>
  </div>
</div>
<hr>

<h1 align="center">Getting Started Is Easy!</h1>
<div id="how-it-works" class="content-section-b">
  <div class="container">
    <div class="col-md-5 col-md-offset-3"></div>
    <div class="row">
      <div class="col-sm-5 pull-right" align="center">
          <ul>
            <li  class="lead"><span style="color: red"><strong>3.  </strong></span>Search Listed Items</li>
            <li class="lead"><span style="color: red"><strong>4.  </strong></span>Make an offer!</li>

          </ul>
      </div>

      <div class="col-sm-5" align="center">
        <ul>
          <li align="center" class="lead"><span style="color: red"><strong>1.  </strong></span>Create a profile</li>
          <li align="center" class="lead"><span style="color: red"><strong>2.  </strong></span>Upload an Item</li>
        </ul>

      </p>
    </div>
  </div>
</div>
</div>
<%= render 'partials/footer' %>
