<meta HTTP-EQUIV="REFRESH" content="2; url='/'">

<div class="container text-center">
  <h1>PAGE NOT FOUND</h1>
  <h2>Redirecting in 2 seconds...</h2>
  <img src="https://s3.amazonaws.com/assets.enjin.com/wall_embed_images/1452302724_screamingoat.jpg" width="800vw">
</div>
