/*
 *= require slick
 *= require slick-theme
 *= require pages
 *= require users
 *= require sessions
 *= require favorites
 *= require offers
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

html, body {
  margin: 0;
  min-height: 100% !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#greyMid {
  background-color: #eae6e6;
}

#home {
  background-color: white;
  background: url('http://i.imgur.com/f9AF4Nd.png') no-repeat;
  background-size: 100%;
  background-position: center;
  height: 500px;
}
 #mainNav {
   background-color: #6c7980;
   height: 90px;
   position: relative;
 }

.blue {
  background-color: #6196c2;
  margin-left: .5vw;
}
 #lowerNav {
   background-color: #2996cc;
   height: 40px;
   position: relative;
   text-align: right;
   margin-top: 2.9vw;
   padding: 8px;
   padding-right: 2vw;
 }

#lowerNav a:hover {
  color: #6c7980;
}

 .tradeBtn {
   float: left;
   margin-left: 6vw;
   font-weight: bold;
 }
 .profileBtn {
   float: left;
   margin-left: 2vw;
 }
 .item-image{
   width:200px;
   height:200px;
   box-shadow: 2px 2px 2px 2px #888888;
 }
 #logo {
   height: 90px;
   position: absolute;
   z-index: 99;
   margin-top: 10px;
   margin-left: 20px;
   -webkit-filter: drop-shadow(3px 3px 3px #222);
   filter: drop-shadow(3px 3px 3px #222);
 }

 .caret {
   color: white;
 }

.smallImage {
  width: 215px;
  padding-bottom: 20px
}

 #mainNav li {
   display: inline;
 }

 .welcome_message {
   text-align: right;
   position: absolute;
   margin-left: 150px;;
 }

.nav_padding_left {
  padding-left: 3vw;
}

.nav_padding_right {
  padding-right: 2.3vw;
  text-align: right;
}

 nav a {
  color: white;
  font-size: 19px;
 }
