/*
 *= require_tree .
 *= require_self
 *= require pages
 *= require users
 *= require sessions
 */

div {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

 #mainNav {
   background-color: #e6e6e6;
   height: 100px;
   position: relative;
 }

 #lowerNav {
   background-color: #2dcc36;
   height: 40px;
   position: relative;
   text-align: right;
   margin-top: 2.9vw;
   padding: 8px;
   padding-right: 2vw;
 }

 #logo {
   height: 130px;
   position: absolute;
   z-index: 99;
   margin-top: 10px;
   margin-left: 20px;
   -webkit-filter: drop-shadow(3px 3px 3px #222);
   filter: drop-shadow(3px 3px 3px #222);
 }

 .caret {
   color: white;
 }

.smallImage {
  width: 215px;
  padding-bottom: 20px
}

 #mainNav li {
   display: inline;
 }

 .welcome_message {
   text-align: right;
   position: absolute;
   margin-left: 150px;;
 }

.nav_padding_left {
  padding-left: 3vw;
}

.nav_padding_right {
  padding-right: 2.3vw;
  text-align: right;
}

 nav a {
  color: black;
  font-size: 16px;
 }

 a :hover {
   color: white;
 }
