.item-image{
  width:200px;
  height:200px;
  box-shadow: 2px 2px 2px 2px #888888;
}
.card{
  margin-left:10px;
}

.group-item-image {
  height: 300px;
  width: 375px;
  margin-left: 7vw;
}

.itemInfo {
  margin-left: 100px !important;
}

.hidden {
  display: none;
}

#newItemForm {
 width: 50vw !important;
 margin: 0 auto !important;
 border-radius: 10px;
}

#newItemForm-1{
   width: 50vw !important;
    height: 30vw !important;
   margin: 0 auto !important;
   border-radius: 10px;
}

#title {
  font-size: 30px;
}

#Rshadow {
  margin: 20 auto !important;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 3px solid darkgrey;
  box-shadow: 0 0 1em grey;
}

#relItems {
  margin-left: 135px;
}
