.item-image{
  max-width:200px;
  box-shadow: 2px 2px 2px 2px #888888;
}

.group-item-image {
  height: 300px;
  width: 375px;
  margin-left: 7vw;
}

.itemInfo {
  margin-left: 100px !important;
}

.hidden {
  display: none;
}

#newItemForm {
 height: 30vw !important;
 width: 50vw !important;
 margin: 0 auto !important;
 border-radius: 10px;
}
