// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#upperFooter {
  background-color: #e6e6e6;
  height: 30px;
}

#lowerFooter {
  background-color: #f0ad4e;
  height: 80px;
}

h1 {
  font-family: 'Anaheim', sans-serif !important;
  font-size: 3.1em !important;
}

h3 {
  font-family: 'Arimo', sans-serif !important;
}
